<!DOCTYPE html>
<html>
  <head>
    <title>Warrantduck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag "styles", :media => 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag "scripts"%>
  </body>
</html>
